.chatList__header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e5e9f2;
    position: relative;
    .chatTitle {
        display: flex;
        flex-direction: row;
        border-right: 1px solid #e5e9f2;
        h4 {
            margin-left: 15px;
            margin-top: 24px;
            margin-bottom: 24px;
        }
        &__createChat {
            display: flex;
            align-items: center;
            margin-left: auto;
            position: relative;
            margin-right: 10px;
            height: 100%;
            span {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                font-weight: 800;
                font-size: 30px;
                color: #adb5bd;
                height: 30px;
                cursor: pointer;
                transition: color .2s ease-in-out;
                &:hover {
                    color: #665dfe;
                }
            }
        }
        .exitImg {
            display: flex;
            align-items: center;
            width: 20px;
            height: 100%;
            margin-right: 15px;
            img {
                width: 100%;
                height: 20px;
                cursor: pointer;
            }
        }
    }
    .chatInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        h5 {
            margin-bottom: 0;
            margin-left: 15px;
            color: #787d83;
        }
        .usersBtns {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            &__users {
                display: flex;
                width: 35px;
                height: 100%;
                align-items: center;
                position: relative;
                margin-left: auto;
                img {
                    position: absolute;
                    width: 100%;
                    cursor: pointer;
                }
            }
            &__userAdd {
                display: flex;
                width: 32px;
                height: 100%;
                align-items: center;
                position: relative;
                margin-left: 20px;
                img {
                    position: absolute;
                    cursor: pointer;
                    top: 25px;
                    width: 100%;
                }
            }

        }
    }
}