$blueColor: #665dfe;
$blueDisColor: #8f8beb;
%scrollbar {
    ::-webkit-scrollbar {
        width: 0.5vh;
    }
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom,  $blueDisColor 0%, $blueColor 100%);
        border: none;
        border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: $blueColor;
    }
    ::-webkit-scrollbar-thumb:active {
        background: $blueColor;
    }
    ::-webkit-scrollbar-track {
        background: $blueDisColor;
        border: none;
        border-radius: 50px;
    }
    ::-webkit-scrollbar-corner {
        background: transparent;
    }
}
.wrapperChatList {
    width: 100%;
    height: 100%;
    .chatList__list {
        display: flex;
        padding: 15px 15px;
        padding-right: 0;
        height: calc(100vh - 80px) !important;
        @extend %scrollbar;
        .chatList__content {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            margin-bottom: 0;
            overflow-y:scroll;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
            li {
                list-style: none;
                margin-bottom: 8px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__item {
            max-width: 100%;
            width: 98%;
            cursor: pointer;
            position: relative;
            padding: .6rem;
            border: 1px solid #e5e9f2;
            border-radius: 0.25rem;
            transition: all .3s ease;
            margin-right: 10px;
            &:hover {
                border: 1px solid #665dfe; 
            }
            .chatId {
                font-size: 14px;
                opacity: 0.7;
            }
        }
        .active {
            background: #665dfe;
            border: 1px solid #665dfe;
            .chatId {
                color: #fff;
            }
            .userName {
                color: #fff;
            }
            .chatTime {
                color: #f1f1f1;
            }
            .userMessage {
                color: #f1f1f1;
            }
        }
    }
}
.itemBlock {
    .userName {
        font-size: 1.1rem;
        font-weight: 500;
        color: rgb(73, 80, 87);
    }
    .chatTime {
        font-size: 0.875rem;
        color: #adb5bd;
        white-space: nowrap;
    }
    .userMessage {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    p {
        margin-bottom: 0;
    }
}
